.body{
  background-image: url("/src/assets/img/bg-sw-desktop.jpeg") !important;
 /* background-color: #1D1E1F !important;*/
}
.marco-inferior{
    background-color: green;
    position: absolute;
    bottom: -14px;
    height: 34px;
    left: 0;
    width: 100%;
    display: block;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    z-index: 1;
}

.marco-inferior::before {
    left: 0;
    border-right: 14px solid blue;
    width: 70%;
  }
.marco-inferior::after {
  right: 0;
  border-left: 14px solid blue;
  width: 10%;
}
  
.notch-contain:before, .notch-contain:after {display:block;position:absolute}
.notch-contain:before, .notch-contain:after {content:"";width:0;z-index:-2;box-sizing:border-box}
.notch-contain:before, .notch-contain:after {bottom:0;top:auto;border-top:14px solid #1D1E1F}


.notch-contain:before {left:0;border-right:14px solid transparent;width:50%}
.notch-contain:after {right:0;border-left:14px solid transparent;width:15%}

.notch-contain {background-color:transparent;position:absolute;bottom:-14px;height:14px;left:0;width:100%;display:block;border-bottom-left-radius:8px;border-bottom-right-radius:8px;overflow:hidden;z-index:1}
.notch-contain {display:block;position:relative;top:0;left:0;right:0;bottom:0;background-color:#1D1E1F}
.notch-contain {bottom:13px}

.notch-contain{background-color:black}
 .card-wrapper .card-body {
  background-color: #1D1E1F;
 }


/*MDB*/
    .card-group.card-group-scroll {
      overflow-x: visible;
      flex-wrap: nowrap;
    }
    .card-group.card-group-scroll > .card {
        flex-basis: 80%;
    }
@media (min-width: 576px) {
    .card-group.card-group-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
    }
    .card-group.card-group-scroll > .card {
        flex-basis: 100%;
    }
  }
@media (min-width: 768px) { 
  .card-group.card-group-scroll > .card {
      flex-basis: 50%;
  }
 }

@media (min-width: 992px) { 
  .card-group.card-group-scroll > .card {
      flex-basis: 25%;
  }
 }
 @media (min-width: 1200px) {
  .card-group.card-group-scroll > .card {
      flex-basis: 20%;
  }
 }
    
/* decal */
.card-decal::before {
    width: 4px;
    left: 30px;
  }

.card-decal::before, .card-decal::after {
    content: "";
    position: absolute;
    background-color: blue;
    height: 4px;
    width: 24px;
    border-radius: 4px;
    left: 2px;
    z-index: 2;
  }

.card-decal::before, .card-decal::after {
    content: "";
    position: absolute;
    background-color: orange;
    height: 4px;
    width: 24px;
    border-radius: 4px;
    left: 2px;
    z-index: 2;
  }
  .card-decal{
    position:relative;
  }
  .card-decal::before:hover, .card-decal::after:hover {
    content: "";
    position: absolute;
    background-color: yellow;
    height: 4px;
    width: 24px;
    border-radius: 4px;
    left: 2px;
    z-index: 2;
  }

 .card-background-black {
  background-color:#1D1E1F !important;
 }


.scrollbar-custom {
  overflow: scroll;
  scrollbar-color: orange black;
  scrollbar-width: thin;
  overflow-y: hidden; 
  scrollbar-width: revert;
}
